
/* BUTTON */

    .button-next, .button-back, .button-go {
        color: #ffffff;
        padding: 15px 40px;
        font-size: 1em;
        font-family: 'Kanit', sans-serif;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.5s, background-position 0.5s;
        background-size: 200% 100%;
        background-position: left center;
    }

    .button-next:hover, .button-back:hover, .button-go:hover {
        transform: scale(1.1);
        background-position: right center;
    }

    .button-next:active, .button-back:active, .button-go:active {
        transform: scale(0.95);
    }

    .button-next {
        background-image: linear-gradient(45deg, #0d1245 0%, #1d2676 51%, #0d1245 100%);
    }

    .button-back {
        background-image: linear-gradient(45deg, #36363c 0%, #54545c 51%, #36363c 100%);
    }

    .button-go {
        background-image: linear-gradient(45deg, #909093 0%, #ffffff 51%, #909093 100%);
    }

    .rounded-button {
        border-radius: 20px;
        padding: 5px 20px;
        border: none;
        background-color: #253485; 
        color: white;
        cursor: pointer;
    }

    .rounded-button:hover {
        background-color:  #1f2b6d;
    }

    .sub-button {
        border-radius: 20px;
        padding: 5px 20px;
        border: none;
        background-color: rgb(42, 42, 72); 
        color: white;
        cursor: pointer;
    }

    .sub-button:hover {
        background-color: rgb(31, 31, 53);
    }

    .red-button {
        border-radius: 20px;
        padding: 5px 20px;
        border: none;
        background-color: rgb(129, 34, 34); 
        color: white;
        cursor: pointer;
    }

    .red-button:hover {
        background-color: rgb(104, 28, 28);
    }

/*--------------------------------------------------*/

/* BOX */

    .box-c1, .box-c2, .box-c3, .box-c4, .box-c5 {
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    }
    .box-c1 p, .box-c2 p, .box-c3 p, .box-c4 p, .box-c5 p{
        text-align: center;
        font-size: 15px;
        color: #ffffff;
    }
    .box-c1 {
        background-color: #381f6b;
    }
    .box-c2 {
        background-color: #1f2854;
    }
    .box-c3 {
        background-color: #6c1e5d;
    }
    .box-c4 {
        background-color: #22421f;
    }
    .box-c5 {
        background-color: #544921;
    }

/*--------------------------------------------------*/

/* CHECKBOX */

    .checkbox-wrapper .switch input {
        display:none;
    }

    .checkbox-wrapper .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }

    .checkbox-wrapper .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }

    .checkbox-wrapper input:checked + .slider {
        background-color: #253485;
    }

    .checkbox-wrapper input:checked + .slider:before {
        transform: translateX(26px);
    }

    .checkbox-wrapper .slider.round {
        border-radius: 34px;
    }

    .checkbox-wrapper .slider.round:before {
        border-radius: 50%;
    }

/*--------------------------------------------------*/

/* FRAME */

    .frame-big {
        text-align: center;
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .frame-small {
        text-align: center;
        margin: 20px auto;
        padding: 20px;
        background-color: #1a1a1d;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

/*--------------------------------------------------*/

/* GALLERY */

    .gallery {
        margin-top: 2%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
    }

    .gallery-item {
        border-radius: 5px;
        margin: 0 10px; /* Adjust margin for spacing between items */
        scroll-snap-align: start;
        display: inline-block;
    }

    .gallery-item img {
        width: 150px;
        height: auto;
        display: block;
        border-radius: 5px 5px 0 0; /* Rounded corners for the top part */
    }

    .gallery-text {
        text-align: center;
        padding: 10px 20px;
        color: white;
        border-radius: 0 0 5px 5px; /* Rounded corners for the bottom part */
    }

    .gallery-content {
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collapsible {
        z-index: 2;
        cursor: pointer;
        padding: 18px;
        width: 80%;
        border: none;
        text-align: left;
        padding-left: 2%;
        color: #c6a44e;
        outline: none;
        font-size: 20px;
        transition: transform 0.5s, background-position 0.5s;
        background-size: 200% 100%;
        background-position: left center;
        background-image: linear-gradient(45deg, #1a1a1d 0%, #0f0f10 51%, #1a1a1d 100%);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .collapsible:hover {
        background-position: right center;
    }

    .g-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #1a1a1d;
        width: 79%;
    }

/*--------------------------------------------------*/

/* LINE */

    .line-page {
        width: 70%;
        border: 0;
        height: 3px;
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(255, 255, 255, 0.75), rgba(0,0,0,0));
        margin: 25px auto;
        }

/*--------------------------------------------------*/

/* SYMBOL */

    .symbol {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 25px;
        width: 25px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 50%;
    }
    .symbol.true {
        background: #51b72c;
        color: #fff;
        border-color: #51b72c;
    }
    .symbol.false {
        background: #f44040;
        color: #fff;
        border-color: #f44040;
    }

/*--------------------------------------------------*/

/* TEXT */

    .text-topic {
        text-align: center;
        font-size: 4em;
        font-family: 'Kanit', sans-serif;
        font-weight: normal;
        background: linear-gradient(to bottom, #ffffff, #999999);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

/*--------------------------------------------------*/
