{% extends 'app_general/components/base.html' %}
{% load static %}
{% block content %}

<div class="page-style">
    <div class="frame-big">
      <div style="margin:5%;">
        <h3>เปลี่ยนรหัสผ่านเรียบร้อย</h3>
        <p>คุณสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ได้เลย</p>
        <br>
        <a href="{% url 'login' %}">
          <button class="button-next" type="button">เข้าสู่ระบบ</button>
        </a>
      </div>
    </div>
</div>

<style>
    .page-style {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        color: white;
    }
    .frame-big {
        width: 40%;
    }
    .page-context {
        margin: 40px 80px;
    }
    .form-field {
        margin-bottom: 15px;
        text-align: left;
    }
    .form-field label {
        display: block;
        color: white;
        margin-bottom: 5px;
    }
    .form-field input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    .text-group {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .text-group p {
        margin: 0;
        margin-right: 5px;
    }
    .text-group a {
        color: #c6a44e;
    }

</style>
{% endblock %}

