{% extends 'app_users/components/login_base.html' %}
{% load static %}
{% block content-login %}
  <h3>ลืมรหัสผ่าน</h3>
  <p>ระบบจะส่งอีเมลแนะนำวิธีการตั้งรหัสผ่านใหม่ไปให้</p>
  <form action="{% url 'password_reset' %}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-field">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <br>
      <button class="button-next" type="submit">ยืนยัน</button>
      <div class="form-group" style="text-align: center; margin-top: 2%;">
        <a href="{% url 'login' %}">กลับไปที่หน้าเข้าสู่ระบบ</a>
      </div>
  </form>
{% endblock %}

